*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
 background:linear-gradient(rgba(233, 235, 239, 0.307), rgba(66, 120, 195, 0.444));
}
nav{
    width: 100vw;
    padding: 20px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: rgb(255, 255, 255);
    color: black;
    border-bottom: 1px solid lightgray;
    position: fixed;
    z-index: 1;
}
.nav-item{
    letter-spacing: 1px;
    color: gray;
}
.nav-item:hover{
    color: black;
    cursor: pointer;
    font-weight: 600;
}

#startBtn{
    border: none;
    background-color: #166AEA;
    color: #fff;
    line-height: 24px;
    padding: 8px 30px;
    border-radius: 42px;
    height: 40px;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 1px;
}
.hero{
   
    padding-top:70px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 20px;
}
#middle{
    position: absolute;
    top: 280px;
    left: 50px;
    border: 10px solid white;
    border-radius: 15px;
}
#right-img{
    position: absolute;
    bottom: 20px;
    right: 40px;
    height: 250 px;
    width: 195px;
}
#btm-left-img{
    position: absolute;
    bottom: 10px;
    left: 200px;
    width: 195px;
}
.colors{
    position: absolute;
    padding: 5px;
    width: 130px;
    height: 40px;
    top: 150px;
    left: 150px;
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    background-color: rgba(235, 228, 228, 0.734);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 42px;
    box-shadow: rgba(128, 128, 128, 0.508) 1px 3px 3px 0px;
}
.color{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    
}
.orange{
    background-color: orange;
}

.blue{
    background-color: #166AEA;
}

.gray{
    background-color: rgba(181, 174, 174, 0.519);
}

.green{
    background-color: green;
}

.hero h1{
     font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 20px;
    font-size: 120px;
    font-weight: 100;
    text-align: center;
    letter-spacing: -1px;
    line-height: 0.9;
    font-weight: 400;
}   

.hero p{
  font-size: 20px;
  color: grey;
  text-align: center;
}
button{
    background-color: #166AEA;
    color: white;
    width: 200px;
    padding: 10px;
    border-radius: 42px;
    height: 60px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 1px;

}

.image-container{
    width: 140px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;  
    top: 150px;
    right: 100px;
}
span{
    font-size: 10px;
    margin-top: 10px;
    font-weight: 500;
    letter-spacing: 1px;
}

#btm-img{
text-align: center;
}